/*comentarios en css*/
h1{
    pad: 50px;
    border: 5px solid;
    margin: 50PX;
}

/*en bloque - azul*/
p,
div{
    background-color: blue;
    padding: 10px 10px 10px 10px;
}

/*en linea - rojo*/
em,
strong,
span{
    background-color: red;
    padding: 2px 2px 2px 2px;
}